body {
  background-image: url("background-texture.1c258b3f.jpg");
  margin: 0; }

main {
  width: 100%; }

.header {
  max-width: 800px;
  margin: 0 auto;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0; }
  .header .signature {
    margin-bottom: 10px; }
  .header img {
    display: block;
    margin: 0 auto; }

.hero {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin: 90px 0 30px 0;
  background-image: url("design.022f4afc.png");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  height: 519px; }
  .hero .embedded-video-container {
    max-width: 740px;
    margin: 0 auto;
    border: 30px solid white;
    width: 100%; }
    .hero .embedded-video-container iframe {
      width: 100%;
      display: block; }

.link-boxes {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 30px; }
  .link-boxes .link {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    width: 28%;
    height: 135px;
    border: 10px solid white; }
    .link-boxes .link.link-videos {
      background-image: url("videos-bw.b277fe83.png"); }
      .link-boxes .link.link-videos:hover {
        background-image: url("videos.3e9a356c.png"); }
    .link-boxes .link.link-images {
      background-image: url("images-bw.1af5a4f4.png"); }
      .link-boxes .link.link-images:hover {
        background-image: url("images.f004ebc2.png"); }
    .link-boxes .link.link-animations {
      background-image: url("animations-bw.51a68844.png"); }
      .link-boxes .link.link-animations:hover {
        background-image: url("animations.e5137240.png"); }

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto; }
  .social-media img {
    margin: 15px; }

.content__holder {
  max-width: 800px;
  margin: 0 auto; }

.content {
  display: none; }
  .content.visible {
    display: block; }
